<template>
  <div id="app">
    <div>
      <codemirror v-model="code" :options="cmOptions"></codemirror>
    </div>
    <div>
      <input type="file" accept=".md,.MD" @change="readTextFromFile" name="file" />
    </div>
  </div>
</template>

<script>
import { codemirror } from "vue-codemirror";
// import base style
import "codemirror/lib/codemirror.css";
import "codemirror/keymap/vim.js";
// language js
import "codemirror/mode/markdown/markdown";
// theme css
import "codemirror/theme/rubyblue.css";
import "codemirror/theme/dracula.css";

export default {
  name: "App",
  components: {
    codemirror,
  },
  data: function() {
    return {
      code: "",
      cmOptions: {
        tabSize: 2,
        mode: "markdown",
        theme: "dracula",
        lineNumbers: true,
        line: true,
        keyMap: "vim",
      },
    };
  },
  methods: {
    readTextFromFile(e) {
      try {
        const files = e.target.files;
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.code = fileReader.result;
        });
        fileReader.readAsText(files[0])
      } catch(err) {
        this.errorMessage = "Cannot work with uploaded file."
      }
    },
  },
};
</script>

<style>
#app {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
